body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc_box {
    width: 400px;
    height: 650px;
    background-color: rgb(59, 44, 21);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;

}

.screen {
    width: 380px;
    height: 130px;
    background-color: aliceblue;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;


}

.screen_content{
    width: 100%;
    height: auto;
    font-size: 1.5em;
    text-align: right;
    word-wrap: break-word;
    overflow: hidden;
    padding-right: 15px;
}

.content{
    color: rgb(163, 161, 161);
}

.imput{

}
.keyBoard {
    width: 380px;
    height: 500px;
    background-color: rgb(49, 130, 201);
    border-radius: 20px 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;

}

.digits_operations {
    width: 380px;
    height: 350px;
    background-color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;

    border-radius: 20px;

}

.handler_box {
    width: 380px;
    height: 70px;
    background-color: rgb(38, 115, 184);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
}

.btn {
    width: 60px;
    height: 60px;
    background-color: rgb(173, 167, 167);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.btn_calc{
    width: 135px;
    height: 60px;
    background-color: rgb(12, 114, 21);    
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.btn_large {
    width: 135px;
    height: 60px;
    background-color: rgb(173, 167, 167);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.btn,
.btn_calc,
.btn_large:hover {
    cursor: pointer;
}

/* colors */
.green {
    background-color: rgb(12, 114, 21);
}